@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eef3f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eef3f1;
    --foreground: #171717;
  }
}

body {
  color: #171717;
  background: var(--background);
  font-family: var(--font-lora), sans-serif;
}

.font-aurore {
  font-family: var(--font-la-belle-aurore);
}

.paper {
  background-image: url("/cover-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
}
.vertical-paper {
  background-color: #eef3f1;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    transparent 0,
    #fdfefe 10px
  );
  /* repeating-linear-gradient(#eef3f1, #e0e3e2); */
}

.couple-bg {
  background-image: url("/couple-picture-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bank-card-1 {
  background-image: url("/bank-card-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bank-card-2 {
  background-image: url("/bank-card-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
